*{
    font-family: Arial;
    font-size: 18px;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
body > div{
    position: fixed;
    overflow: auto;
    box-shadow: inset 0px 0px 0px 2px #000;
    padding: 5px;
    text-align: justify;
}
div#preview{
    top: 0px;
    left: 0px;
    width: 50vw;
    height: calc(100vh - 150px);
    transform-style: preserve-3d;
}
div#preview *{
    transform-style: preserve-3d;
}
div#projectpreview{
    bottom: 50px;
    left: 0px;
    width: 50vw;
    height: 100px;
}
div#json{
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
}
div#element{
    top: 0px;
    left: 50vw;
    width: 25vw;
    height: calc(100vh - 50px);
}
/* div#element{

} */
div#element > table{
    border-collapse: collapse;
    border: none;
    width: 100%;
}
div#element > table input{
    background-color: rgba(0, 0, 255, 0.2);
    width: 100%;
    border: none;
}
div#element > table tr > td{
    padding: 3px;
    white-space: nowrap;
}
div#element > table tr > td:first-child{
    text-align: right;
}
div#element > table tr > td:last-child{
    text-align: left;
}

div#solution{
    top: 0px;
    left: 75vw;
    width: 25vw;
    height: calc(50vh - 25px);
}
div#create{
    top: calc(50vh - 25px);
    left: 75vw;
    width: 25vw;
    height: calc(50vh - 25px);
}


div.treeview{
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}
div.treeview.focus{
    background-color: rgb(154, 226, 255);
}
div.treeview > div.treeview.button{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../img/treeview/treeview_plus.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 14px 14px;
}
div.treeview.button.endbranch:hover{
    background-color: transparent;
}
div.treeview.button:hover{
    background-color: #ccc;
}
div.treeview.title{
    color: #000;
    display: inline-block;
    height: 20px;
    width: calc(100% - 20px);
    line-height: 20px;
    font-size: 18px;
    padding-left: 5px;
    /* box-sizing: border-box; */
}
div.treeview.title.active{
    background-color: #00f;
    color: #fff;
}
div.treeview > div.treeview.content{
    width: 100%;
    padding-left: 20px;
    display: none;
}
div.treeview.opened > div.treeview.content{
    display: block;
}
div.treeview.opened > div.treeview.button{
    background-image: url('../img/treeview/treeview_minus.png');
}
